.mainContainer {
  padding: 2rem;
  border: 1px solid white;
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  &__items {
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #e66465;
    padding: 0 2rem;

    &-element {
      display: inline-block;
      background-color: white;
      vertical-align: bottom;
      // background: linear-gradient(180deg, #e66465 5%, #b4baff 100%);
      // background-color: rgb(88, 255, 88);
    }
  }
}
