.settings {
  background-color: #b4baff;
  color: black;
  height: 10rem;
  font-size: 2.1rem;
  font-weight: bold;
  position: relative;
  &__scroll {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    &-items {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  // &__scroll {
  //   &-elements {
  //     position: absolute;
  //     padding: 2rem;
  //     left: 2rem;
  //     top: 2rem;
  //   }

  //   &-iterations {
  //     position: absolute;
  //     left: 50rem;
  //   }
  // }
}
